*{
    box-sizing: border-box;
    margin: 0;
}
/*set font*/
@font-face {
  font-family: headerfont;
  src: url("/font/FROSTBITE-Wide.ttf");
}
@font-face {
  font-family: cubic;
  src: url("/font/cubic.ttf");
}
@font-face {
  font-family: LettersforLearners;
  src: url("/font/LettersforLearners.ttf");
}
@font-face {
  font-family: Minecaft;
  src: url("/font/Minecraft.ttf");
}
/*navbar */
.navbar {
    list-style-type: none;
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 80%;
    position: fixed;
    z-index: 100;
    font-family: Minecaft;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: gold;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkred;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: darkred;
    min-width: 140px;
    z-index: 1;
}
.dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: indianred;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex; 
    flex-flow: row wrap; 
    position: relative;
    padding: 5%;
    height: auto;
    top: 500px;
    background-color: aliceblue;
    width: 100%;
}

.content1, .content2, .content3, .content4 {
  border: 3px solid lime;
  margin: 5px;
  padding: 15px;
  border-radius: 20px;
}

.header {
	position: relative;
	text-align: center;
	color:darkgreen ;
    font-size: 25px;
	top: 250px;
    font-family: headerfont;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}
.content1, .content2, .content3, .content4 h1 {
    font-family: cubic;
}
/*text will glow*/
@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 70px white, 0 0 60px white;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px lime, 0 0 50px lime, 0 0 60px lime,0 0 70px lime, 0 0 80px lime;
	}
}
.content1 {
    order: 1;
    width: 400px;
    flex-grow: 1; 
    
}
.content2 {
    order: 2;
    width: 400px;
    flex-grow: 1; 
}
.content3 {
    order: 3;
    width: 100%;
    flex-grow: 1; 
}
.content4 {
    order: 4;
    width: 100%;
    flex-grow: 1; 
    position: relative;	
	display: grid;
	grid-template-columns: auto;
}
.button {
	background-color:#399444;
    border-radius: 20px;
    text-indent:0;
	display:inline-block;
	color: #ffffff;
	font-family: monospace;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
    width: 140px;
	text-decoration: none;
	text-align: center;
	text-shadow: 2px 2px 0px #2f6627;
}
.button:hover {
	background-color: #5cbf2a;
}
.button:active {
	position: relative;
	top: 1px;
}
.center {
    text-align: center;
}
.page {
	display: grid;
}
#nextpgBtn {
    border-radius: 50%;
    background-color: darkturquoise;
    color: black;
    justify-self: self-end;
    float: right;
    }
#lastpgBtn {
    border-radius: 50%;
    background-color: darkblue;
    color: aliceblue;
    justify-self: self-start;
    float: left;
}
btn {
    display: inline-block;
    height: 40px;
	width: 40px;    
}
#nextpgBtn:hover{
    background-color: darkblue;
    color: aliceblue;
}
#lastpgBtn:hover{
    background-color: darkturquoise;
    color: black;
}
btn a {
    font-size: 30px;
    text-decoration: none;
    padding: 15px;
}
.left {
    float: left;
    margin-right : 15px; 
}
.right {
    float: right;
    margin-left : 15px;
}
p {
  display: block;
  margin-top: 0em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  font-family: LettersforLearners;
}
td {
    font-family: monospace;
}